*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(235, 188, 188);

}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
   background: linear-gradient(45deg, red, blue);
  
      
}

.user-details{
    max-width: 700px;
    width: 100%;
    background: rgb(24, 24, 24);
    padding: 4px 4px;
    border-radius: 7px;
    justify-content: space-between;
    height: 90vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/ 2- 20px);


}

.user-details .input-box{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px inset rgb(255, 231, 16);
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width:  3px; 
    transition: all 0.3s ease-in;
    margin-top: 15px;


}


.user-details .input-box-1{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px inset rgb(255, 231, 16);
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width:  3px; 
    transition: all 0.3s ease-in;
    margin-top: 15px;


}

.user-details .input-box-2{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px inset rgb(255, 231, 16);
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width:  3px; 
    transition: all 0.3s ease-in;
    margin-top: 15px;


}

.user-details .input-box-3{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px inset rgb(255, 231, 16);
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width:  3px; 
    transition: all 0.3s ease-in;
    margin-top: 15px;


}




.user-details .input-box-5{
    height: auto;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px inset rgb(255, 231, 16);
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width:  3px; 
    transition: all 0.3s ease-in;
    margin-top: 15px;


}
